:root {
  /* COLOR */
  --bg-primary: #FFFFFF;
  --bg-primary-green: #9ee2ac;
  --bg-second-green: #02bd2a;
  --bg-second-orange: #f07555;
  --bg-button-color: #3470FF;
  --bg-active-button-color: #0B44CD;
  --bg-overlay: rgba(18, 20, 23, 0.50);

  --text-color-primary-black:#121417;
  --text-color-secondary-black: rgba(18, 20, 23, 0.50);
  --text-color-white:#FFFFFF;
  --text-color-grey: #8a8a8957;
  --text-color-blue: #3470FF;
  --text-color-active-blue: #0B44CD;
  --text-second-green: #02bd2a;
  --text-second-orange: #f07555;

  --input-background-color: #F7F7FB;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color: var(--text-color-primary-white);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

body.modalIsOpen {
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 834px) {
  .container {
    width: 834px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 34px;
    padding-right: 34px;
  }
}